<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BizTalk.Salesforce.WcfBehaviors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BizTalk.Salesforce.WcfBehaviors.Properties.Settings>
            <setting name="BizTalk_Salesforce_WcfBehaviors_SFSvcRef_SforceService"
                serializeAs="String">
                <value>https://login.salesforce.com/services/Soap/c/21.0/0DF90000000L6Jp</value>
            </setting>
        </BizTalk.Salesforce.WcfBehaviors.Properties.Settings>
    </applicationSettings>
</configuration>